.loading {
  margin-top: 3em;
}

.header {
  margin-top: 1em;
}

.item {
  opacity: 0;
}

.item > div {
  display: inline-block;
}

.item > .title {
  width: 20em;
}

.value {
  margin: 1px 15px;
  padding: 0px 3px;
  border-radius: 3px;
  border: 1px solid #99d8c9;
  transition: background-color 150ms ease-in-out;
}

.value:hover {
  background-color: #99d8c9;
}