.loading {
  margin-top: 3em;
}

.header {
  margin-top: 1em;
}

.item {
  opacity: 0;
}

.value {
  margin-left: 15px;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  transition: background-color 150ms ease-in-out;
}

.value:hover {
  background-color: #99d8c9;
}