/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  width: 100%;
  height: 100%;
}

body {
  font: message-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #F9F9FA;
  position: relative;
  -moz-user-focus: normal;
}

/* SEARCH */
#newtab-search-container {
  margin: 55px 0 15px;
}

/* GRID */
#newtab-grid {
  margin: 3em 10%;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 320px));
  grid-gap: 2%;
  grid-auto-rows: minmax(180px, auto);
  text-align: center;
  transition: 100ms ease-out;
  transition-property: opacity;
}

.newtab-cell {
  background-color: rgba(255,255,255,.2);
  border-radius: 4px;
  box-shadow: 0 2px 4px #c1c1c1;
  text-decoration: none;
  overflow: hidden;
}

.newtab-link {
  overflow: hidden;
}

.newtab-thumbnail,
.newtab-title {
  display: block;
}

.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 180px;
  transition: opacity 100ms ease-out;
}

.newtab-title {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: #F9F9FA;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 0 0 4px 4px;
  color: rgba(12, 12, 13, 0.76);
}
